.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.button-container {
  display: flex;
  justify-content: center;
}
.label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input {
  background-color: transparent;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  line-height: 1.25;
  margin-bottom: 10px;
}
.input:focus {
  border-color: blue;
  outline: 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.button:hover {
  background-color: #1769aa;
}

.button:active {
  background-color: #1769aa;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25vw;
  border-radius: 5px;
  border: solid;
  border-color: #1769aa;
  padding: 10px;
}
